Repository voxpupuli/puppet-php, pull requests merged in 2018-03, with the labels that each got.

#424 add examples for php-fpm/nginx
  README.md
Labels: docs

#423 Fix Archlinux support
  manifests/params.pp
Labels: bug

#420 Fix wrongly named parameters for apt::source/key
  manifests/repo/debian.pp
Labels: bug

#425 Using the new facts hash instead of the global var in repo/debian.pp
  manifests/repo/debian.pp
Labels: enhancement

#426 release 5.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
