Repository voxpupuli/puppet-php, pull requests merged in 2018-10, with the labels that each got.

#479 Fix enable extension when there is no module associated
  manifests/extension/config.pp
  spec/acceptance/php_spec.rb
Labels: bug, needs-tests

#482 release 6.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#487 modulesync 2.2.0
  .msync.yml
  Gemfile
  spec/classes/coverage_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync

#485 ensure could also be 'latest'
  manifests/extension/config.pp
Labels: bug

#488 release 6.0.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#483 Allow `clear_env` to be disabled
  manifests/fpm/pool.pp
  templates/fpm/pool.conf.erb
Labels: enhancement

#494 Rely more on puppetlabs-apt
  manifests/repo/debian.pp
Labels: enhancement
