Repository voxpupuli/puppet-php, pull requests merged in 2020-04, with the labels that each got.

#513 modulesync 2.12.0 and drop puppet 4
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  .sync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/fpm.pp
  manifests/global.pp
  manifests/init.pp
  manifests/packages.pp
  manifests/pear.pp
  manifests/repo.pp
  manifests/repo/ubuntu.pp
  spec/acceptance/php_spec.rb
  spec/classes/php_fpm_service_spec.rb
  spec/classes/php_fpm_spec.rb
  spec/spec_helper.rb
  spec/unit/provider/package/pear_spec.rb
  spec/unit/provider/package/pecl_spec.rb
Labels: modulesync

#571 add ability to define composer update channel
  REFERENCE.md
  manifests/composer.pp
  manifests/composer/auto_update.pp
  types/composerchannel.pp
Labels: enhancement

#557 add pool_purge option to init.pp
  manifests/fpm.pp
  manifests/init.pp
  manifests/params.pp
Labels: enhancement

#552 Improve package prefix selection on FreeBSD
  manifests/globals.pp
  manifests/params.pp
  manifests/pear.pp
Labels: enhancement

#567 Fix enabling of zend extensions
  manifests/extension/config.pp
  spec/defines/extension_spec.rb
Labels: bug
