Repository voxpupuli/puppet-php, pull requests merged in 2021-09, with the labels that each got.

#642 Allow 0 for pm_start_servers
  manifests/fpm/pool.pp
Labels: bug

#643 Release 8.0.2
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#646 modulesync 4.2.0
  .github/workflows/ci.yml
Labels: modulesync
