Repository voxpupuli/puppet-php, pull requests merged in 2022-07, with the labels that each got.

#662 Allow unsupported environments
  manifests/dev.pp
  manifests/fpm/service.pp
  manifests/globals.pp
  manifests/init.pp
  manifests/params.pp
  spec/acceptance/php_spec.rb
  spec/classes/php_fpm_service_spec.rb
  spec/classes/php_repo_spec.rb
  spec/classes/php_spec.rb
  spec/defines/config_spec.rb
  spec/defines/extension_spec.rb
  spec/defines/fpm_pool_spec.rb
Labels: enhancement

#665 Release 8.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#659 (#458) Remove dotdeb and sury repos overuse on Debian
  manifests/repo/debian.pp
  spec/classes/php_repo_debian_spec.rb
Labels: bug
