Repository voxpupuli/puppet-php, pull requests merged in 2022-03, with the labels that each got.

#647 Allow a setting to be undef to force absent.
  manifests/config/setting.pp
  spec/classes/php_spec.rb
Labels: bug

#648 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Dockerfile
  Gemfile
  Rakefile
  lib/facter/phpversion.rb
  lib/puppet/parser/functions/ensure_prefix.rb
  lib/puppet/parser/functions/to_hash_settings.rb
  lib/puppet/provider/package/pear.rb
  lib/puppet/provider/package/pecl.rb
  spec/acceptance/php_spec.rb
  spec/classes/php_fpm_config_spec.rb
  spec/classes/php_fpm_service_spec.rb
  spec/classes/php_fpm_spec.rb
  spec/classes/php_repo_spec.rb
  spec/classes/php_repo_ubuntu_spec.rb
  spec/classes/php_spec.rb
  spec/defines/config_spec.rb
  spec/defines/extension_rhscl_spec.rb
  spec/defines/extension_spec.rb
  spec/defines/fpm_pool_spec.rb
  spec/functions/to_hash_settings_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/unit/provider/package/pear_spec.rb
  spec/unit/provider/package/pecl_spec.rb
Labels: modulesync

#657 Release 8.0.3
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
