Repository voxpupuli/puppet-php, pull requests merged in 2023-09, with the labels that each got.

#696 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  lib/puppet/parser/functions/ensure_prefix.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#697 remove YARD docs
  docs/Puppet/Parser/Functions.html
  docs/_index.html
  docs/css/common.css
  docs/css/full_list.css
  docs/css/style.css
  docs/file.README.html
  docs/frames.html
  docs/index.html
  docs/js/app.js
  docs/js/full_list.js
  docs/js/jquery.js
  docs/puppet_class_list.html
  docs/puppet_classes/php.html
  docs/puppet_classes/php_3A_3Aapache_config.html
  docs/puppet_classes/php_3A_3Acli.html
  docs/puppet_classes/php_3A_3Acomposer.html
  docs/puppet_classes/php_3A_3Acomposer_3A_3Aauto_update.html
  docs/puppet_classes/php_3A_3Adev.html
  docs/puppet_classes/php_3A_3Aembedded.html
  docs/puppet_classes/php_3A_3Afpm.html
  docs/puppet_classes/php_3A_3Afpm_3A_3Aconfig.html
  docs/puppet_classes/php_3A_3Afpm_3A_3Aservice.html
  docs/puppet_classes/php_3A_3Aglobal.html
  docs/puppet_classes/php_3A_3Aglobals.html
  docs/puppet_classes/php_3A_3Apackages.html
  docs/puppet_classes/php_3A_3Aparams.html
  docs/puppet_classes/php_3A_3Apear.html
  docs/puppet_classes/php_3A_3Aphpunit.html
  docs/puppet_classes/php_3A_3Aphpunit_3A_3Aauto_update.html
  docs/puppet_classes/php_3A_3Arepo.html
  docs/puppet_classes/php_3A_3Arepo_3A_3Adebian.html
  docs/puppet_classes/php_3A_3Arepo_3A_3Aredhat.html
  docs/puppet_classes/php_3A_3Arepo_3A_3Asuse.html
  docs/puppet_classes/php_3A_3Arepo_3A_3Aubuntu.html
  docs/puppet_defined_type_list.html
  docs/puppet_defined_types/php_3A_3Aapache_vhost.html
  docs/puppet_defined_types/php_3A_3Aconfig.html
  docs/puppet_defined_types/php_3A_3Aconfig_3A_3Asetting.html
  docs/puppet_defined_types/php_3A_3Aextension.html
  docs/puppet_defined_types/php_3A_3Aextension_3A_3Aconfig.html
  docs/puppet_defined_types/php_3A_3Aextension_3A_3Ainstall.html
  docs/puppet_defined_types/php_3A_3Afpm_3A_3Apool.html
  docs/puppet_function_list.html
  docs/puppet_functions_ruby3x/ensure_prefix.html
  docs/puppet_functions_ruby3x/to_hash_settings.html
  docs/puppet_provider_list.html
  docs/puppet_providers_package/pear.html
  docs/puppet_providers_package/pecl.html
  docs/top-level-namespace.html
Labels: docs

#698 README: fix links, fix typos, remove outdated info
  README.md
Labels: docs

#699 switch to stdlib namespaced functions, require stdlib 9.x
  manifests/dev.pp
  manifests/pear.pp
  manifests/phpunit.pp
  metadata.json
Labels: backwards-incompatible

#700 Release 10.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
